body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-bg-color: #282c34;
  --shadow-grey: #4b4b4b;
  --light-grey: #999999;
  --black: #333333;
  --paper-white: #AAAAAA;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  color: antiquewhite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-disclaimer {
  padding: 10vmin;
  font-size: 2vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 50px;
  color: white;
}

.App-link {
  color: #61dafb;
}

input {
  border-radius: 4px;
  padding: 6px;
  height: 26px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--shadow-grey);
  font-family: sans-serif;
  -webkit-appearance: none;
  transition: box-shadow 300ms;
}

input:focus {
  outline: none;
}

.field {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-height: 100px;
  align-items: center;
  justify-items: center;
}

.field label {
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-grey);
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--light-grey);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--light-grey);
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: var(--light-grey);
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0 10px var(--paper-white) inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: sans-serif;
}

.button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #c6551c);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}